# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# History
history

# recentf
recentf

# abbrev
abbrev_defs

# desktop files
.emacs.desktop

# saveplace
places

# tramp
tramp

# elpa packages
elpa

# miscelanea
/irony/
/network-security.data
/srecode-map.el
/games/tetris-scores
/url/cookies
/session.*
/transient
